@model IEnumerable<AquaticsStoreAssignment.Models.Fish>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HabitatType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperament)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumTankSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lifespan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FishBirthday)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HabitatType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperament)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumTankSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lifespan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Availability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FishBirthday)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
